<!DOCTYPE html>
<html>
	<head>
		<title>TEMPORARY PAGE Sign In</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../static/mapStyle.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<form id="loginForm" method="post">
        	<div class="g-signin2" data-onsuccess="onSignIn"></div>
        	<meta name="google-signin-client_id" content="494678703644-ufofnmrub4m7dm8cn1lo394huo4sqb79.apps.googleusercontent.com">
			<input type="hidden" id="token" value="">
		</form>

        <a href="#" onclick="signOut()">Sign out</a>

		<script langauge="JavaScript" src="../static/signIn.js"></script>

	</body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


</html>
