<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reports</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/table.css" media="screen"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Report</h2>

  <table class="table" id="thisTable">
    <thead>
      <tr>
        <th>DateTime</th>
        <th>Incident</th>
        <th>Description</th>
        <th>Anonymous</th>
        <th>    </th>
      </tr>
    </thead>
    <tbody>
    {% for item in reports %}
        {% if (item.isEmergency) %}
        <tr class="emergency">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ item.event_dt }}</td>
            {% if (item.isEmergency) %}
                <td>EMERGENCY!</td>
            {% else %}
                <td>Not Urgent</td>
            {% endif %}
            <td>
                <div class="content hideContent"> {{ item.text }}
                    <p>Some more text</p>
                    <ul>
                        <li>Some more text</li>
                        <li>Some more text</li>
                        <li>Some more text</li>
                    </ul>
                </div>
                <div class="show-more">
                    <a href="#">Show more</b>
                </div>
                <script>

                    $(".show-more a").on("click", function() {
                        console.log("TEST");
                        var $this = $(this);
                        var $content = $this.parent().prev("div.content");
                        var linkText = $this.text().toUpperCase();

                        if(linkText === "SHOW MORE"){
                            linkText = "Show less";
                            $content.switchClass("hideContent", "showContent", 100);
                        } else {
                            linkText = "Show more";
                            $content.switchClass("showContent", "hideContent", 100);
                        };

                        $this.text(linkText);
                    });
                </script>

            </td>

            {% if (item.isAnonymous) %}
                <td>ANONYMOUS</td>
            {% else %}
                <td>PUBLIC</td>
            {% endif %}
            <td> <button type="button" class="btn btn-danger btn-circle delete-row" href="#" ><i class="glyphicon glyphicon-remove"> </td>
        </tr>


    {% endfor %}


    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('#thisTable').on('click', 'button', function() {
  $(this).closest('tr').remove();

  //check if no more rows and remove the table
  if ($('#thisTable tbody tr').length == 0) {
    $('#thisTable').remove();
  }
});
</script>

</body>
</html>
