<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reports</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/table.css" media="screen"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script langauge="JavaScript" src="../static/table.js"></script>
</head>
<body>

<div class="container">
  <h2>Report</h2>

  <table class="table">
    <thead>
      <tr>
        <th>DateTime</th>
        <th>Incident</th>
        <th>Description</th>
        <th>Anonymous</th>
        <th>    </th>
      </tr>
    </thead>
    <tbody>
    {% for item in reports %}

        {% if (item.isEmergency) %}
        <tr class="emergency">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ item.event_dt }}</td>
            {% if (item.isEmergency) %}
                <td>EMERGENCY!</td>
            {% else %}
                <td>idgaf</td>
            {% endif %}
            <td>
                <div class="content hideContent"> {{ item.text }}
                    <p>Some more text</p>
                    <ul>
                        <li>Some more text</li>
                        <li>Some more text</li>
                        <li>Some more text</li>
                    </ul>
                </div>
                <div class="show-more">
                    <a href="#">Show more</a>
                </div>
            </td>

            {% if (item.isAnonymous) %}
                <td>ANONYMOUS</td>
            {% else %}
                <td>PUBLIC</td>
            {% endif %}
        </tr>

    {% endfor %}


    </tbody>
  </table>
</div>

</body>
</html>
